<ul>
    <div class="container">
        <div class="row">
            <li *ngFor="let product of products">
                <div class="col s12 m6 l4">
                    <div class="card medium">
                        <div class="card-image">
                            <img src={{product.imageUrl}}>
                        </div>
                        <div class="card-content">
                            <h6>{{product.name}}</h6>
                            <p>by {{product.brand}}</p>
                        </div>
                        <div class="card-action">
                            <a routerLink="/product/{{product.id}}">
                                <span>Product Details</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>
</ul>