<ul>
  <div class="row">
    <li *ngFor="let product of products">
      <div class="col s12 m6 l3">
        <div class="card large">
          <div class="card-image">
            <img src="{{ product.imageUrl }}" />
          </div>
          <div class="card-content">
            <h6 class="card-title truncate">{{ product.name }}</h6>
            <p class="truncate">by {{ product.brand }}</p>
          </div>

          <div class="card-action">
            <div class="card-action">
              <a
                class="btn-floating btn-large waves-effect waves-light"
                routerLink="/product/{{ product.id }}"
                ><i class="material-icons left">info</i></a
              >
              <a
                (click)="toast(product.name)"
                class="btn-floating btn-large waves-effect waves-light red"
                style="margin-left: 20px;"
                ><i class="material-icons left">add_shopping_cart</i></a
              >

              <div class="right">
                <h5 style="font-weight: 500;">
                  ₹{{ product.discountedPrice }}
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </li>
  </div>
</ul>
