<div class="row" id="formsContainer">
  <br class="col" />
  <div class="col s12 m6" id="form loginForm">
    <div class="card-panel grey lighten-5">
      <!-- Login Form -->
      <form (ngSubmit)="login()" #form="ngForm">
        <h5>Login</h5>
        <br>
        <div class="input-field">
          <!-- Email -->
          <input
            type="email"
            id="loginEmail"
            name="loginEmail"
            [(ngModel)]="loginEmail"
            class="validate form-control"
            required
            email
          />
          <label for="loginEmail">Email</label>
          <span
            class="helper-text"
            data-error="Invalid Email"
            data-success=""
          ></span>
        </div>
        <!-- Password  -->
        <div class="input-field">
          <input
            type="password"
            name="loginPassword"
            id="loginPassword"
            [(ngModel)]="loginPassword"
            class="validate form-control"
            required
            minlength="8"
          />
          <label for="loginPassword">Password</label>
          <span
            class="helper-text"
            data-error="Invalid Password"
            data-success=""
          ></span>
        </div>
        <!-- Submit  -->
        <input
          type="submit"
          value="Login"
          class="btn z-depth-2"
          [disabled]="!form.valid && (form.dirty || form.touched)"
        />
        <p *ngIf="faliedToLogin" class="red-text">
          Failed To Login
        </p>
        <h6><a href="/forgot-password">Forgot Password</a></h6>
      </form>
      <br />
      <!-- facebook  -->
      <a
        class="btn left z-depth-2"
        style="width: 45%; background-color: #3b5998;"
        (click)="authService.FacebookAuth()"
        ><i class="fab fa-facebook-f"></i> Facebook</a
      >
      <!-- google  -->
      <!-- <a
        class="btn right z-depth-2"
        style="width: 45%; background-color: #dd4b39;"
        (click)="googleLogin()"
        ><i class="fab fa-google-plus-g"></i> Google</a
      > -->
    </div>
  </div>

  <!-- Register  -->
  <div class="col s12 m6" id="form">
    <div class="card-panel grey lighten-5">
      <!-- Registeration Form -->
      <form (ngSubmit)="register()" #rform="ngForm">
        <h5>Register</h5>
        <p class="text-flow">If you're new to Localite</p>
        <!-- Register User Role -->
        <div class="input-field">
          <p>
            <label>
              <input
                name="registerRole"
                type="radio"
                class="form-control"
                [(ngModel)]="registerRole"
                value="CUSTOMER"
                checked
              />
              <span>Customer</span>
            </label>
          </p>
          <p>
            <label>
              <input
                name="registerRole"
                type="radio"
                class="form-control"
                value="MERCHANT"
                [(ngModel)]="registerRole"
                required
              />
              <span>Merchant</span>
            </label>
          </p>
        </div>
        <span *ngIf="emptyOption" class="red-text"
          >Please select an option</span
        >

        <!-- Register User Name -->
        <div class="input-field">
          <input
            type="text"
            id="registerName"
            name="registerName"
            [(ngModel)]="registerName"
            class="validate form-control"
            required
            minlength="3"
          />
          <label for="registerName">Name</label>
          <span
            class="helper-text"
            data-error="Invalid Name"
            data-success=""
          ></span>
        </div>
        <!-- Register Email -->
        <div class="input-field">
          <input
            type="email"
            id="registerEmail"
            name="registerEmail"
            [(ngModel)]="registerEmail"
            class="validate form-control"
            required
            email
          />
          <label for="registerEmail">Email</label>
          <span
            class="helper-text"
            data-error="Invalid Email"
            data-success=""
          ></span>
        </div>
        <!-- Register Password -->
        <div class="input-field">
          <input
            type="password"
            id="registerPassword"
            name="registerPassword"
            [(ngModel)]="registerPassword"
            class="validate form-control"
            required
            minlength="8"
          />
          <label for="registerPassword">Password</label>
          <span
            class="helper-text"
            data-error="At Least 8 Characters"
            data-success=""
          ></span>
        </div>
        <!-- Confirm Password -->
        <div class="input-field">
          <input
            type="password"
            name="registerConfirmPassword"
            id="registerConfirmPassword"
            [(ngModel)]="registerConfirmPassword"
            class="validate form-control"
            required
            minlength="8"
            pattern="{{ registerPassword }}"
          />
          <label for="registerConfirmPassword">Confirm Password</label>
          <span
            class="helper-text"
            data-error="Passwords Do not Match"
            data-success=""
          ></span>
        </div>
        <!-- Not sure if it's required any more -->
        <p *ngIf="passwordsDontMatch" class="red-text">
          Passwords don't match!
        </p>
        <!--  Submit-->
        <input
          type="submit"
          value="Register"
          class="btn left z-depth-2"
          [disabled]="!rform.valid && (form.dirty || form.touched)"
        />
        <!-- && passwordsDontMatch" -->
        <p *ngIf="registeredSuccesfully" class="green-text">
          Registered Succesfully!
        </p>
        <p *ngIf="failedToRegister" class="red-text">
          Registration Failed!
        </p>
      </form>
    </div>
  </div>
</div>
