#formsContainer {
  /* display: flex; */
  height: 100%;
}

.row {
  display: flex;
  align-items: center;
}
.col {
  flex-grow: 2;
  max-width: 400px !important;
  display: flex;
}
.card-panel {
  flex-grow: 1;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .col {
    flex-grow: 2;
    max-width: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .row {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
}
