<div class="row" id="formsContainer">
  <br class="col" />
  <!-- Login  -->
  <div class="col s12 m6" id="form loginForm">
    <div class="card-panel grey lighten-5">
      <form (ngSubmit)="login()" #form="ngForm">
        <h5>Login</h5>
        <div class="input-field">
          <input
            type="email"
            placeholder="Email"
            name="loginEmail"
            [(ngModel)]="loginEmail"
            class="validate"
            required=""
          />
          <span
            class="helper-text"
            data-error="Invalid Email"
            data-success=""
          ></span>
        </div>

        <div class="input-field">
          <input
            type="password"
            placeholder="Password"
            name="loginPassword"
            [(ngModel)]="loginPassword"
            class="validate"
            required=""
            required
          />
          <span
            class="helper-text"
            data-error="Invalid Password"
            data-success=""
          ></span>
        </div>

        <input type="submit" value="Login" class="btn z-depth-2" />
        <p *ngIf="faliedToLogin" class="red-text">
          Failed To Login
        </p>
        <h6><a href="/forgot-password">Forgot Password</a></h6>
      </form>
      <br />
      <!-- facebook  -->
      <a
        class="btn left z-depth-2"
        style="width: 45%; background-color: #3b5998;"
        (click)="facebookLogin()"
        ><i class="fab fa-facebook-f"></i> Facebook</a
      >
      <!-- google  -->
      <a
        class="btn right z-depth-2"
        style="width: 45%; background-color: #dd4b39;"
        (click)="googleLogin()"
        ><i class="fab fa-google-plus-g"></i> Google</a
      >
    </div>
  </div>

  <!-- Register  -->
  <div class="col s12 m6" id="form">
    <div class="card-panel grey lighten-5">
      <form (ngSubmit)="register()" #form="ngForm">
        <h5>Register</h5>
        <p class="text-flow">If you're new to Localite</p>

        <div class="input-field col s12">
          <select [(ngModel)]="registerRole" name="registerRole">
            <option value="" disabled selected>I am a</option>
            <option value="CUSTOMER">Customer</option>
            <option value="MERCHANT">Merchant</option>
          </select>
        </div>
        <span *ngIf="emptyOption" class="red-text"
          >Please select an option</span
        >

        <div class="input-field">
          <input
            type="text"
            placeholder="Name"
            name="registerName"
            [(ngModel)]="registerName"
            class="validate"
            required=""
          />
          <span
            class="helper-text"
            data-error="Invalid Name"
            data-success=""
          ></span>
        </div>
        <div class="input-field">
          <input
            type="text"
            placeholder="Email"
            name="registerEmail"
            [(ngModel)]="registerEmail"
            class="validate"
            required=""
          />
          <span
            class="helper-text"
            data-error="Invalid Email"
            data-success=""
          ></span>
        </div>
        <div class="input-field">
          <input
            type="password"
            placeholder="Password"
            name="registerPassword"
            [(ngModel)]="registerPassword"
            class="validate"
            required=""
          />
          <span
            class="helper-text"
            data-error="Invalid Password"
            data-success=""
          ></span>
        </div>
        <div class="input-field">
          <input
            type="password"
            placeholder="Confirm Password"
            name="registerConfirmPassword"
            [(ngModel)]="registerConfirmPassword"
            class="validate"
            required=""
          />
          <span
            class="helper-text"
            data-error="Invalid Password"
            data-success=""
          ></span>
        </div>
        <p *ngIf="passwordsDontMatch" class="red-text">
          Passwords don't match!
        </p>

        <input type="submit" value="Register" class="btn z-depth-2" />
        <p *ngIf="registeredSuccesfully" class="green-text">
          Registered Succesfully!
        </p>
        <p *ngIf="failedToRegister" class="red-text">
          Registration Failed!
        </p>
      </form>
    </div>
  </div>
</div>
