.row {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  height: 100%;
}
.col {
  flex-grow: 2;
  max-width: none !important;
}

.card-panel {
  max-width: 400px !important;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }

  .col {
    flex-grow: 2;
    max-width: none !important;
  }
}

@media only screen and (min-width: 1200px) {
  .row {
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  .col {
    flex-grow: 2;
    max-width: none !important;
  }

  .card-panel {
    max-width: 400px !important;
    margin: auto;
  }
}
