<div class="row" id="formsContainer">
  <br />
  <!-- Send Forget Email  -->
  <div *ngIf="token == null" class="col s12 m6 center">
    <div class="card-panel grey lighten-5">
      <form (ngSubmit)="forgotPassword()" #form="ngForm">
        <h5>Forgot Password</h5>
        <br>
        <div class="input-field">
          <input
            type="email"
            id="forgotEmail"
            name="forgotEmail"
            [(ngModel)]="forgotEmail"
            class="validate"
            required
            email
          />

          <label for="forgotEmail">Email</label>
          <span
            class="helper-text"
            data-error="Invalid Email"
            data-success=""
          ></span>
        </div>

        <input type="submit" value="Get Reset Link" class="btn z-depth-2" />
        <p *ngIf="email" class="green-text">
          Sent an Email
        </p>
      </form>
    </div>
  </div>

  <!-- New Password  -->
  <div *ngIf="token != null" class="col s12 m6 center">
    <div class="card-panel grey lighten-5">
      <!-- <form (ngSubmit)="updatePassword()" #form="ngForm">
        <h5>Create New Password</h5>
        <div class="input-field">
          <input
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
            class="validate"
            required=""
          />
          <span
            class="helper-text"
            data-error="Invalid Password"
            data-success=""
          ></span>
        </div>

        <div class="input-field">
          <input
            type="password"
            placeholder="Confirm Password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            class="validate"
            required=""
          />
          <span
            class="helper-text"
            data-error="Invalid Password"
            data-success=""
          ></span>
          <p *ngIf="notMatching" class="red-text">
            Passwords Do Not Match.
          </p>
        </div>

        <input
          type="submit"
          value="Update Password"
          class="btn btn z-depth-2"
        />
        <p *ngIf="updatedPassword" class="green-text">
          Updated Password
        </p>
      </form> -->

      <!-- Change Password Form -->
      <form (ngSubmit)="updatePassword()" #form="ngForm">
        <h5>Create New Password</h5>

        <br />

        <!-- New Password -->
        <div class="input-field">
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            class="validate form-control"
            required
            minlength="8"
          />
          <label for="password">New Password</label>
          <span
            class="helper-text"
            data-error="Invalid Password"
            data-success=""
          ></span>
        </div>
        <!-- Confirm New Password  -->
        <div class="input-field">
          <input
            type="password"
            name="confirmPassword"
            id="confirmPassword"
            [(ngModel)]="confirmPassword"
            class="validate form-control"
            required
            pattern="{{ password }}"
          />
          <label for="confirmPassword">Confirm Password</label>
          <span
            class="helper-text"
            data-error="Password Does not Match"
            data-success=""
          ></span>
        </div>
        <!-- Submit  -->
        <input
          type="submit"
          value="Change Password"
          class="btn z-depth-2"
          [disabled]="!form.valid && (form.dirty || form.touched)"
        />
        <p *ngIf="updatedPassword==false" class="red-text">
          Failed To Update Password
        </p>

        <p *ngIf="updatedPassword==true" class="green-text">
          Updated Password
        </p>
      </form>
    </div>
  </div>
</div>

<!-- <h6><a href="/forgot-password">Forgot Password</a></h6> -->
