<div class="row" id="formsContainer">
  <!-- Login  -->
  <div class="col s12 m6" id="form">
    <div class="card-panel grey lighten-5">
      <h5>Login</h5>
      <div class="input-field">
        <input type="email" placeholder="Email" />
      </div>

      <div class="input-field">
        <input type="password" placeholder="Passowrd" />
      </div>

      <input type="submit" value="Login" class="btn" />
    </div>
  </div>

  <!-- Register  -->
  <div class="col s12 m6" id="form">
    <div class="card-panel grey lighten-5">
      <h5>Register</h5>
      <p class="text-flow">If you're new to Localite</p>

      <div class="input-field col s12">
        <select>
          <option value="" disabled selected>I am a</option>
          <option value="1">Customer</option>
          <option value="2">Merchant</option>
        </select>
      </div>

      <div class="input-field">
        <input type="text" placeholder="Name" />
      </div>
      <div class="input-field">
        <input type="text" placeholder="Email" />
      </div>
      <div class="input-field">
        <input type="password" placeholder="Passowrd" />
      </div>
      <div class="input-field">
        <input type="password" placeholder="Confirm Password" />
      </div>
      <input type="submit" value="Register" class="btn" />
    </div>
  </div>
</div>
