<p>add-product works!</p>

<!-- Register  -->
<div class="col s12 m6" id="form">
    <div class="card-panel grey lighten-5">
        <form (ngSubmit)="addProduct()" #form="ngForm">
            <h5>Add Product</h5>

            <div class="input-field">
                <input type="text" placeholder="Product Name" name="productName" [(ngModel)]="product.productName"
                    required="" />
            </div>

            <div class="input-field">
                <input type="text" placeholder="Brand" name="productBrand" [(ngModel)]="product.productBrand" />
            </div>

            <div class="input-field">
                <input type="text" placeholder="Description" name="productDescription"
                    [(ngModel)]="product.productDescription" />
            </div>

            <!-- TODO: convert to dropdown list of categories -->
            <div class="input-field">
                <input type="text" placeholder="Category" name="productCategory"
                    [(ngModel)]="product.productCategory" />
            </div>

            <div class="input-field">
                <input type="number" placeholder=" MRP" name="productMrp" [(ngModel)]="product.productMrp" />
            </div>

            <div class="input-field">
                <input type="text" placeholder="Product Image URL" name="productImageUrl"
                    [(ngModel)]="product.productImageUrl" />
            </div>

            <input type="submit" value="Add" class="btn z-depth-2" />

        </form>
    </div>
</div>