<p>add-product works!</p>

<!-- Register  -->
<div class="col s12 m6" id="form">
    <div class="card-panel grey lighten-5">
        <form (ngSubmit)="addProduct()" #form="ngForm">
            <h5>Add Product</h5>

            <div class="input-field">
                <input type="text" placeholder="Product Name" name="name" [(ngModel)]="product.name" required="" />
            </div>

            <div class="input-field">
                <input type="text" placeholder="Brand" name="brand" [(ngModel)]="product.brand" />
            </div>

            <div class="input-field">
                <input type="text" placeholder="Description" name="description" [(ngModel)]="product.description" />
            </div>

            <!-- TODO: convert to dropdown list of categories -->
            <div class="input-field">
                <input type="text" placeholder="Category" name="category" [(ngModel)]="product.category" />
            </div>

            <div class="input-field">
                <input type="number" placeholder=" MRP" name="mrp" [(ngModel)]="product.mrp" />
            </div>

            <div class="input-field">
                <input type="text" placeholder="Product Image URL" name="imageUrl" [(ngModel)]="product.imageUrl" />
            </div>

            <input type="submit" value="Add" class="btn z-depth-2" />

        </form>
    </div>
</div>