
<div class="xcarousel">
  <div class="xcarousel-row">
    <div *ngFor="let service of services" class="xcarousel-tile">
      <div id="content-wrapper">
           <div class="card hoverable">
                <div class="card-image">
                    <img style="width: 350px; height: 250;" src="{{service.imageUrl }}" />
                </div>                
                <div class="card-action">
                  <a routerLink="/service/{{service.serviceId}}">
                      <span>Details of {{service.name}}</span>
                  </a>
                </div>
            </div>
      </div>
    </div>
  </div>
</div>
<br>
    <div style="margin-bottom: 20px;">
      <button class="btn" [routerLink]="['/services']" style="margin-left: 10px;">
        Available Services
      </button>
    </div>





















<!-- <div>
  <div class="xcarousel" horizontal>
    <div class="xcarousel-row" >
      <div *ngFor="let service of services" class="xcarousel-tile">
        <div id="content-wrapper">
          <div class="card-panel">
            <i class="material-icons large teal-text">room</i>         
               <app-service-list></app-service-list>
            </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div style="margin-bottom: 20px;">
    <button class="btn" [routerLink]="['/services']" style="margin-left: 10px;">
      Available Services
    </button>
  </div>
  <br />
</div> -->

<!-- Stuff
  [style.background-color]="'#' + item + item + item + item + item + item"
 -->
