<div>
  <div class="xcarousel">
    <div class="xcarousel-row">
      <div *ngFor="let item of vars" class="xcarousel-tile">
        <div id="content-wrapper">
          <div class="card-panel">
            <i class="material-icons large teal-text">room</i>
            <h4>Pick Where</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur <br />
              adipisicing elit. Natus, placeat?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ml-3"><h6>See all devices</h6></div>
  <br />
</div>

<!-- Stuff
  [style.background-color]="'#' + item + item + item + item + item + item"
 -->
