<ul>
    <div class="container">
        <div class="row">
            <li *ngFor="let store of stores">
                <div class="col s12 m6 l3">
                    <div class="card medium">
                        <div class="card-image">
                            <img src={{store.vendorImageUrl}}>
                        </div>
                        <div class="card-content">
                            <h5>{{store.vendorName}}</h5>
                            <p>by </p>
                        </div>
                        <div class="card-action">
                            <a routerLink="/store/{{store.vendorId}}">
                                <span>Shop Store</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </div>
    </div>
</ul>