<p>products works!</p>

<!-- Test Carousel for Materialize -->

<div class="carousel">

    <div class="carousel-item" *ngFor="let number of [0,1,2,3,4, 5, 6, 7, 8, 9, 10]">
        <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="https://picsum.photos/500">
            </div>
            <div class="card-content">

                <span class="card-title activator grey-text text-darken-4"><a href="#">Card Title</a>
                    <i class="material-icons right">more_vert</i></span>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i
                        class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
            </div>
        </div>
    </div>

</div>

<app-product-list></app-product-list>