<div class="xcarousel">
    <div class="xcarousel-row">
        <div *ngFor="let store of stores" class="xcarousel-tile">
            <div id="content-wrapper">
                <div class="card">
                    <div class="card-image">
                        <img src="{{store.vendorImageUrl}}">
                        <a class="btn-floating halfway-fab waves-effect waves-light red">
                            <i class="material-icons">arrow_forward</i>
                        </a>
                    </div>
                    <div class="card-content">
                        <span class="card-title">{{store.vendorName}}</span>
                        <p>{{store.vendorDescription}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ml-3">
    <h6>See all Stores</h6>
</div>