<div class="xcarousel">
  <div class="xcarousel-row">
    <div *ngFor="let store of stores" class="xcarousel-tile">
      <div id="content-wrapper">
        <div class="card">
          <div class="card-image">
            <img src="{{ store.imageUrl }}" />
            <a
              class="btn-floating btn-large halfway-fab waves-effect waves-light red"
              routerLink="/store/{{ store.id }}"
            >
              <i class="large material-icons">arrow_forward</i>
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">{{ store.name }}</span>
            <p>{{ store.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="margin-bottom: 20px;">
  <button class="btn" [routerLink]="['/stores']" style="margin-left: 10px;">
    See All Stores
  </button>
</div>
