#footer {
  height: 65px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
#footerText {
  font-size: 150%;
}

@media only screen and (max-width: 600px) {
  #footer {
    height: 45px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }

  #footerText {
    font-size: 110%;
  }
}
