<form>
  <button
    (click)="clickIt()"
    style="background-color: transparent; border: none"
  >
    <input
      (change)="onImagePicked($event)"
      placeholder="Upload Image"
      type="file"
      id="fileInput"
      style="display:none;"
    />
    <img width="200px" src="{{ imageUrl }}" class="responsive-img circle" />
  </button>
  <div *ngIf="isUploading" class="progress">
    <div class="indeterminate"></div>
  </div>
  <button
    class="btn"
    type="submit"
    (click)="imageObj ? onImageUpload() : clickIt()"
  >
    <span *ngIf="!imageObj">Select Image</span>
    <span *ngIf="imageObj">Upload Image</span>
  </button>
</form>
