<div class="row" id="formsContainer">
  <!-- Send Forget Email  -->
  <div *ngIf="token == null" class="col s12 m6" id="form">
    <div class="card-panel grey lighten-5">
      <form (ngSubmit)="forgotPassword()" #form="ngForm">
        <h5>Forgot Password</h5>
        <div class="input-field">
          <input
            type="email"
            placeholder="Email"
            name="forgotEmail"
            [(ngModel)]="forgotEmail"
            required
          />
        </div>

        <input type="submit" value="Get Reset Link" class="btn" />
        <p *ngIf="email" class="green-text">
          Sent an Email
        </p>
        <p *ngIf="nomail" class="red-text">
          Invalid Email
        </p>
      </form>
    </div>
  </div>

  <!-- New Password  -->
  <div *ngIf="token != null" class="col s12 m6" id="form">
    <div class="card-panel grey lighten-5">
      <form (ngSubmit)="updatePassword()" #form="ngForm">
        <h5>Create New Password</h5>
        <div class="input-field">
          <input
            type="password"
            placeholder="Password"
            name="password"
            [(ngModel)]="password"
            required
          />
        </div>

        <div class="input-field">
          <input
            type="password"
            placeholder="Confirm Password"
            name="confirmPassword"
            [(ngModel)]="confirmPassword"
            required
          />
        </div>

        <input type="submit" value="Update Password" class="btn" />
        <p *ngIf="updatedPassword" class="green-text">
          Updated Password
        </p>
        <p *ngIf="notMatching" class="red-text">
          Passwords Do Not Match.
        </p>
        <!-- <h6><a href="/forgot-password">Forgot Password</a></h6> -->
      </form>
    </div>
  </div>
</div>
