.section-search input {
  padding: 5px !important;
  font-size: 22px !important;
  width: 90% !important;
  border-radius: 30px;
  border: rgb(0, 155, 155) 3px solid !important;
}

@media only screen and (max-width: 600px) {
  .section-search input {
    padding: 2px !important;
    font-size: 20px !important;
    width: 80% !important;
    border-radius: 25px;
  }
}
