<div id="search" class="section section-search center" mt="6 rem">
  <h5>Search Products & Servcies</h5>
  <div class="input-field white" id="wrapper">
    <div class="" id="select">
      <select id="selectBox">
        <option value="" disabled selected>Categories</option>
        <option value="1">Products</option>
        <option value="2">Services</option>
      </select>
    </div>

    <div id="search">
      <input
        type="text"
        class="white center autocomplete"
        id="searchBox"
        placeholder="Carrot, Crocin, etc"
      />
    </div>
  </div>
</div>
