.tabs {
  margin-top: 5px;
}

#test1 {
  padding-top: 9px;
}
.order-group {
  border: 1px solid;
  border-color: lightgrey;
  margin-bottom: 10px;
}

img {
  max-width: 100px;
  margin: auto;
  /* align-self: center; */
}

#container{
  /* margin-left: 10%;
  margin-right: 10%; */
  margin: auto 10%;
}


@media only screen and (max-width: 600px) {
  #container{
    margin: 0px;
  }
}


