<!-- <p>orders works!</p> -->

<div id="container">
  <!-- Past Orders Tab Content -->
  <div id="test1" class="col s12 ">
    <!-- Dynamic content -->
    <!-- Check if Orders Array has length -->

    <div *ngIf="orders.length >= 1 && !isFetching">
      <!-- A single order containing a number of products  -->
      <div class="order-group" *ngFor="let order of orders">
        <table class="centered">
          <!-- table head -->
          <thead class="grey lighten-3 ptr" (click)="order.show = !order.show">
            <tr>
              <!-- Order Date -->
              <th>
                <span class="center">{{
                  order.orderDate | date: "mediumDate"
                }}</span>
              </th>
              <!-- Shipped to -->
              <th *ngIf="currentWindowWidth > 800">
                Shipped to: {{ order.shippedTo }}
              </th>
              <!-- order Status -->
              <th *ngIf="currentWindowWidth > 500">
                {{ order.status | uppercase }}
              </th>

              <!-- Total Price -->
              <th>
                <span class="center">
                  {{ order.totalPrice | currency: "INR" }}</span
                >
              </th>

              <!-- Received -->
              <th
                *ngIf="
                  order.status !== 'delivered' && order.status !== 'canceled'
                "
              >
                <a
                  (click)="onReceived(order); $event.stopPropagation()"
                  class="btn green"
                  ><i class="material-icons" *ngIf="currentWindowWidth < 800"
                    >done</i
                  >
                  <span *ngIf="currentWindowWidth > 800">Received</span>
                </a>
              </th>

              <!-- Cancel -->
              <th
                *ngIf="
                  order.status !== 'delivered' && order.status !== 'canceled'
                "
              >
                <a
                  (click)="onCancel(order); $event.stopPropagation()"
                  class="btn red"
                  ><i class="material-icons" *ngIf="currentWindowWidth < 800"
                    >cancel</i
                  >
                  <span *ngIf="currentWindowWidth > 800">Cancel</span>
                </a>
              </th>

              <!-- Reorder -->
              <th
                *ngIf="
                  order.status === 'delivered' || order.status == 'canceled'
                "
              >
                <a
                  [routerLink]="['/store/' + order.vendorId]"
                  (click)="addToCart(); $event.stopPropagation()"
                  class="btn green"
                  ><i class="material-icons" *ngIf="currentWindowWidth < 800"
                    >add_shopping_cart</i
                  >
                  <span *ngIf="currentWindowWidth > 800">Reorder</span>
                </a>
              </th>
              <!-- Cancel disabled -->
              <th *ngIf="order.status == 'canceled'">
                <a
                  (click)="onCancel(); $event.stopPropagation()"
                  class="btn red disabled"
                  ><i class="material-icons" *ngIf="currentWindowWidth < 800"
                    >cancel</i
                  >
                  <span *ngIf="currentWindowWidth > 800">Cancel</span>
                </a>
              </th>
              <!-- Review -->
              <th *ngIf="order.status === 'delivered'">
                <a
                  [routerLink]="['/store/' + order.vendorId]"
                  (click)="addVendorReview(); $event.stopPropagation()"
                  class="btn orange"
                  ><i class="material-icons" *ngIf="currentWindowWidth < 800"
                    >rate_review</i
                  >
                  <span *ngIf="currentWindowWidth > 800">Review</span>
                </a>
              </th>
            </tr>
          </thead>

          <!-- table body -->
          <tbody *ngIf="order.show">
            <tr *ngFor="let product of order.products; index as i;">
              <!-- Product Image -->
              <td>
                <img
                  src="{{ product.imgUrl }}"
                  [routerLink]="['/product/' + product.id]"
                  alt="{{ product.name }}"
                  class="center responsive-img"
                />
              </td>
              <!-- Product Name -->
              <td *ngIf="currentWindowWidth > 800">
                <a
                  [routerLink]="['/product/' + product.id]"
                  class="teal-text"
                  >{{ product.name }}</a
                >
              </td>
              <!-- Product Quantity -->
              <td *ngIf="currentWindowWidth > 500">
                Quantity: {{ product.quantity }}
              </td>
              <td>
                <span class="center">
                  {{ product.vendorPrice | currency: "INR" }}</span
                >
              </td>
              <!-- Add to Cart -->
              <td>
                <a
                  [routerLink]="['/product/' + product.id]"
                  class="btn green"
                  (click)="addProductToCart()"
                  ><i class="material-icons">add_shopping_cart</i>
                  <p *ngIf="currentWindowWidth > 800">Reorder</p></a
                >
              </td>
              <!--Cancel Product -->
              <td
                *ngIf="
                  order.status !== 'delivered' && order.status !== 'canceled'
                "
              >
                <a class="btn red" (click)="onCancelProduct(order, i)"
                  ><i class="material-icons">cancel</i>
                  <p *ngIf="currentWindowWidth > 800">Cancel</p>
                </a>
              </td>
              <!-- Cancel Products disabled -->
              <td *ngIf="order.status == 'canceled'">
                <a class="btn red disabled" (click)="onCancelProduct(order)"
                  ><i class="material-icons">cancel</i>
                  <p *ngIf="currentWindowWidth > 800"></p>
                </a>
              </td>
              <!--Rate Product -->
              <td *ngIf="order.status === 'delivered'">
                <a
                  [routerLink]="['/product/' + product.id]"
                  class="btn orange"
                  (click)="addProductRating()"
                  ><i class="material-icons">rate_review</i>
                  <p *ngIf="currentWindowWidth > 800">Review</p>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- If order array is empty -->
    <div *ngIf="orders.length < 1 && !isFetching && !error">
      <h5 class="center flow-text">No Orders.</h5>
    </div>

    <!-- Loading -->
    <div *ngIf="!error && isFetching" class="center">
      <div class="preloader-wrapper small active">
        <div class="spinner-layer spinner-green-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div>
          <div class="gap-patch">
            <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- If an error occurs -->
    <div *ngIf="error && orders.length < 1">
      <div class="row">
        <div class="col s12 m6 offset-m3">
          <div class="card">
            <div class="card-image">
              <img id="error" src="../../../../assets/images/error.png" />
              <span class="card-title">Error</span>
              <a
                class="btn-floating halfway-fab waves-effect waves-light red"
                (click)="handleError()"
                ><i class="material-icons">close</i></a
              >
            </div>
            <div class="card-content">
              <p>
                {{ error }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
