<div id="change" class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card-panel">
      <!-- Change Password Form -->
      <form (ngSubmit)="changePassword()" #form="ngForm">
        <h5>Change Password</h5>

        <br />
        <!-- Old Password -->
        <div class="input-field">
          <input
            type="password"
            id="oldPassword"
            name="oldPassword"
            [(ngModel)]="oldPassword"
            class="validate form-control"
            required
            minlength="8"
          />
          <label for="oldPassword">Old Password</label>
          <span
            class="helper-text"
            data-error="Wrong Password"
            data-success=""
          ></span>
        </div>
        <!-- New Password -->
        <div class="input-field">
          <input
            type="password"
            id="newPassword"
            name="newPassword"
            [(ngModel)]="newPassword"
            class="validate form-control"
            required
            minlength="8"
          />
          <label for="newPassword">New Password</label>
          <span
            class="helper-text"
            data-error="Invalid Password"
            data-success=""
          ></span>
        </div>
        <!-- Confirm New Password  -->
        <div class="input-field">
          <input
            type="password"
            name="cNewPassword"
            id="cNewPassword"
            [(ngModel)]="cNewPassword"
            class="validate form-control"
            required
            pattern="{{ newPassword }}"
          />
          <label for="cNewPassword">Confirm New Password</label>
          <span
            class="helper-text"
            data-error="Password Does not Match"
            data-success=""
          ></span>
        </div>
        <!-- Submit  -->
        <input
          type="submit"
          value="Change Password"
          class="btn z-depth-2"
          [disabled]="!form.valid && (form.dirty || form.touched)"
        />
        <p *ngIf="failedToChange" class="red-text">
          Failed To Change Password
        </p>
      </form>
    </div>
  </div>
</div>
