<!-- Navbar  -->
<div class="navbar-fixed">
  <nav class="teal">
    <div class="container">
      <div class="nav-wrapper">
        <!-- Branding  -->
        <div class="brand-logo">
          <a
            [routerLink]="['/']"
            [routerLinkActive]="['active']"
            [routerLinkActiveOptions]="{ exact: true }"
            >The Localite</a
          >
        </div>

        <!-- Hamburger / Sidenav // Links to id = mobile-nav-->
        <a data-target="mobile-nav" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <!-- / Hamburger / Sidenav -->

        <!-- Menubar Items  -->
        <ul class="right hide-on-med-and-down">
          <li>
            <a
              [routerLink]="['/']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Home</a
            >
          </li>

          <!-- Login  -->
          <li *ngIf="!authService.isLoggedIn()">
            <a
              [routerLink]="['/login']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Login</a
            >
          </li>

          <!-- Register  -->
          <li *ngIf="!authService.isLoggedIn()">
            <a
              [routerLink]="['/register']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Register</a
            >
          </li>

          <!-- Logout  -->

          <li *ngIf="authService.isLoggedIn()">
            <a
              [routerLink]="['/logout']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              >Logout</a
            >
          </li>

          <li>
            <a
              [routerLink]="['/cart']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
              ><i class="material-icons white-text">shopping_cart</i></a
            >
          </li>

          <li>
            <a
              id="locationIcon"
              [routerLink]="['/location']"
              [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <i class="material-icons white-text">near_me</i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!-- sidenav menulist -->
<ul class="sidenav" id="mobile-nav">
  <li style="height: 100px;" class="center teal white-text">
    <div
      [routerLink]="['/']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      style="text-align: center !important; height: 100%;"
    >
      <h6
        class="white-text center"
        style="height: 100%; margin: auto; font-size: 25px; padding-top: 15px"
      >
        <i class="material-icons white-text center" style="font-size: 40px;"
          >location_on</i
        >
        <div style="margin-bottom: 50px;">The Localite</div>
      </h6>
    </div>
  </li>
  <li>
    <a
      [routerLink]="['/']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="material-icons black-text">home</i>Home</a
    >
  </li>

  <!-- Login  -->
  <li *ngIf="!authService.isLoggedIn()">
    <a
      [routerLink]="['/login']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="material-icons black-text">person</i>Login</a
    >
  </li>

  <!-- Register  -->
  <li *ngIf="!authService.isLoggedIn()">
    <a
      [routerLink]="['/register']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="material-icons black-text">group_add</i>Register</a
    >
  </li>

  <!-- Logout  -->

  <li *ngIf="authService.isLoggedIn()">
    <a
      [routerLink]="['/logout']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="material-icons black-text">exit_to_app</i>Logout</a
    >
  </li>

  <li>
    <a
      [routerLink]="['/cart']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
      ><i class="material-icons black-text">shopping_cart</i> Cart</a
    >
  </li>

  <li>
    <a
      id="locationIcon"
      [routerLink]="['/location']"
      [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="material-icons black-text">near_me</i> Location
    </a>
  </li>
</ul>
