<!-- 

    Product Details

    This is the Product Card

    This card displays product information which can be reused by other components

 -->


<div *ngIf="product">


    <div class="card medium">
        <div class="card-image">
            <img src={{product.imageUrl}}>
        </div>
        <div class="card-content">
            <h6>{{product.name}}</h6>
            <p>by {{product.brand}}</p>
        </div>
        <div class="card-action">
            <a routerLink="/product/{{product.id}}">
                <span>Product Details</span>
            </a>
        </div>
    </div>

</div>