<div id="container" class="center grey lighten-3">
  <div *ngIf="lat && lng" id="map" class="center z-depth-4">

    <agm-map [latitude]="lat" [longitude]="lng">
      <agm-marker [latitude]="lat" [longitude]="lng" >
        <agm-info-window>
          <h3>Howdy!</h3>
          <p>You are here!</p>
        </agm-info-window>
      </agm-marker>

      <agm-marker *ngFor="let marker of markers"
                  [latitude]="marker.lat"
                  [longitude]="marker.lng"
                  >

                  <agm-info-window>
                    <h3>Howdy!</h3>
                  </agm-info-window>
      </agm-marker>
    </agm-map>

  </div> <!-- map  -->



  <div id="address" class="container">
    <div class="row">
      <!-- Address Field Input  -->
      <div class="input-field">
        <input placeholder="Please enter your address" [(ngModel)]="address" id="first_name" type="text" class="validate">
      </div>

      <!-- Submit Button  -->
      <button (click)="updateLocation()" class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">cloud</i>
      </button>
      <p *ngIf="updatedSuccesfully" class="green-text">Updated Address Succesfully</p>
      <p *ngIf="updateFailed" class="red-text">Update Failed</p>
    </div>
  </div> <!-- address  -->


</div> <!-- container -->

