.section-search input {
  padding: 5px !important;
  font-size: 22px !important;
  width: 90% !important;
  border-radius: 5px;
  border: rgb(0, 155, 155) 2px solid !important;
}

@media only screen and (max-width: 600px) {
  .section-search input {
    /* padding: 2px !important; */
    font-size: 20px !important;
    /* width: 90% !important; */
  }

  #wrapper {
    display: flex !important;
    flex-direction: column-reverse !important;
    align-items: center;
  }

  #select {
    width: 35% !important;
  }

  select {
    font-size: 20px;
  }

  .section-search input {
    border-radius: 5px;
  }
}

#wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-content: center;
  align-items: center;
  justify-content: center;
}

#searchBox {
  height: 100%;
}

#search {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-self: auto;
  align-items: center;
}

@media only screen and (min-width: 600px) {
  #search {
    width: 100%;
  }
}
